body {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    background-image:url(../img/LogInPage.jpg);
    background-size: cover;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
}

.logo {
    width: 350px;
    height: 150px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: 120px;
}

.contents {
    border: 2px solid #ececec;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 90px;
    margin-left: auto;
    margin-right: 40px;
    text-align: center;
    width: 500px;
    height: 320px;
}

.errorBar {
    min-height: 1.5em;
    padding-top: 15px;
    color: orange;
    font-size: 16px;
    text-align: center;
}

.inputBox {
    width: 400px;
    height: 55px;
    border-style: none;
    margin-left: 30px;
    margin-right: auto;
    margin-bottom: 25px;
    font-size: 25px;
    font-family: sans-serif;
}

.Inputs {
    width: 400px;
    height: 55px;
    border: solid 1.5px hsla(0, 0%, 51%, 0.3);
    font-size: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: aliceblue;
    background-color: hsla(0, 0%, 51%, 0.3);
}
.urls{
    color:dodgerblue;
}

.btns {
    width: 440px;
    height: 54.3px;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    border: solid 2px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.28);
}

.btns:hover {
    background: rgba(255, 255, 255, 0.55);
}

.blured {
    border: solid 1px orange;
}